// Variables
$primary-color: #39cdcc;
$secondary-color: #545f7d;
$text-dark: #213f7d;
$text-light: #545f7d;
$border-color: #e5e5e5;
$bg-light: #f5f5f5;
$white: #ffffff;
$error-color: #e4033b;
$success-color: #39cd62;
$warning-color: #f2c94c;
$pending-color: #e9b200;
$inactive-color: #545f7d;
$blacklist-color: #e4033b;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;

// Mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card {
  background: $white;
  border: 1px solid $border-color;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
}

// Reset & Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  color: $text-dark;
  background: $bg-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

input, select {
  font-family: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Utility classes
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  
  @include respond-to(tablet) {
    padding: 0 20px;
  }
  
  @include respond-to(mobile) {
    padding: 0 15px;
  }
}
